.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/stylesheets/compiled
.idea
public/images/image
public/images/update
public/images/product_images
public/images/category_images
public/images/category
public/images/product_type
public/carrierwave
coverage
public/pdfs
brakeman.html
public/uploads/tmp
public/parts_lists
app/assets/stylesheets/.gitkeep
app/assets/images/category_images/*
