.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/stylesheets/compiled
.idea
public/images/*
public/carrierwave
public/sitemaps
coverage
public/pdfs
brakeman.html
public/uploads/tmp
public/parts_lists
app/assets/stylesheets/.gitkeep
app/assets/images/category_images/*
dump.rdb
.env
gemsurance_report.html
pem/
test_xml_files/*
