<%= h2("Error with Download") %>
<br/>
<p>
  Sorry, couldn't download the file at this time. Please try again later. If this issue persists,
  <%= link_to "contact us", :controller => :static, :action => :contact %>
  and we will get it straightened out. To expedite the process, please include an order confirmation number, the email address you used, and let us know which set of instructions you were trying to download, if you bought more than one.
</p>
<br/>
<br/>
<p>
  Thanks,
  <br/>
  Brick City Depot
</p>