<section class="content">
  <div class="container">
    <h1>Downloads</h1>
    <br/>
    <p>
      Here you go! PDFs can be downloaded a max of
      <%= MAX_DOWNLOADS %>
      times, unless we have to update the PDF, in which case you'll get more downloads free. If you click on a PDF download link below, it will count towards your download count, even if you choose to cancel the download. You can access your parts lists as many times as you need to.
    </p>
    <br/>
    <br/>
    <strong>
      PDFs
    </strong>
    <br/>
    <br/>
    <p>
      <% @download_links.each do |dl| %>
        <% if dl[2] == 0 %>
          <span class='font-weight-bold'><%= dl[0] %>:</span><br />
          Sorry, you've used up all your downloads for these instructions. If you
          feel this is an error or you weren't able to download your instructions,
          contact us at <a href='mailto:sales@brickcitydepot.com'>sales@brickcitydepot.com</a> and we'll help you out.
        <% else %>
          <%= link_to dl[0], dl[1] %>
        <% end %>
        <br/>
      <% end %>
    </p>
    <br/>
    <strong>
      Parts Lists
    </strong>
    <br/>
    <br/>
    <p>
      <% @parts_list_links.each do |dl| %>
        <%= link_to dl[0], dl[1], target: '_blank' %>
        <br/>
      <% end %>
    </p>
    <br/>
    <br/>
  </div>
</section>
