=h1('Downloads')
%br
%p
  Here you go! You can download parts lists as many times as you need to. PDFs can be downloaded a max of #{MAX_DOWNLOADS}
  times, unless we have to update the PDF, in which case you'll get more downloads. If you click on a PDF download link below,
  it will count towards your download count, even if you choose to cancel the download.
%br
%p
  - @download_links.each do |dl|
    = link_to dl[0], dl[1]
    %br
%br
%br
%p
  Thanks,
  %br
  Brick City Depot