=h1('Downloads')
%br
%p
  Here you go! You can download parts lists as many times as you need to. PDFs can be downloaded a max of #{MAX_DOWNLOADS}
  times, unless we have to update the PDF, in which case you'll get more downloads. If you click on a PDF download link below,
  it will count towards your download count, even if you choose to cancel the download.
%br
%br
.right_click_menu
  = image_tag("firefox_right_click_menu.png")
.right_click_menu_description
  %p
    Make sure you right-click on the PDF download links and save the PDF to your computer. Otherwise, the PDF may
    open in your browser and when your browser closes, you'll have to open the PDF in your browser again. Opening
    the PDF again this way will count against your download count. Right-clicking and saving the file will only
    count against your download count once, and you can then open the PDF directly from your computer.

.clear
%br
%br
%b
  Download Links
%br
%br
%p
  - @download_links.each do |dl|
    = link_to dl[0], dl[1]
    %br
%br
%br
%br
%br