<div class='footnotes'>
  <p style="color:red">
    You can make this update live from the
    <%= link_to 'update index page', admin_updates_path %>. Please enable it after seeing the preview to make sure it looks good.
  </p>
</div>