%h1 User Account Info
%br
= form_for(:user, :url => {:action => :find_user, :email => /.*/},:remote => true) do |f|
  .field
    = f.label :email
    %br
    = f.text_field :email, :id => 'account_info_user_email'
  .actions
    = f.submit 'Search', :id => 'account_info_user_search_submit'

%br
#account_info
