<h1>User Account Info</h1>
<br />
<%= form_for(:user, url: {action: :find_user, :email => /.*/}, remote: true) do |f| %>
  <div class="form-group d-inline-block">
    <%= f.text_field :email, id: 'account_info_user_email', placeholder: "Customer email" %>
  </div>
  <div class="form-group d-inline-block">
    <%= f.submit 'Search', id: 'account_info_user_search_submit', class: 'btn btn-primary' %>
  </div>
<% end %>
<br/>
<div id="account_info"></div>
