%h1 Featured Products Tool
%br
%p
  Select all products you want to show up in the lower right "Featured Item" box on the home page
%br
%table
  - @products.each_with_index do |product,index|
    - if index % 3 == 0
      %tr
    %td{style: 'padding:1px 3px 1px 3px;'}
      = check_box_tag("product_ids[]", product.id, product.featured, id: product.id, onchange: "updateProduct(#{product.id}, #{product.featured})")
      &nbsp;
      = product.code_and_name

:javascript
  function updateProduct(id, featured) {
    if(featured == false){
      featured = true;
    } else {
      featured = false;
    }
    $.ajax({
        dataType: "json",
        data: { product: {'featured':featured}},
        cache: false,
        type: 'PATCH',
        url: '/products/' + id + '.json',
        error: function(XMLHttpRequest, errorTextStatus, error){
            alert("Failed to Update : " + errorTextStatus+" ; " + error);
        },
        success: function(data){
        }
    });
  };
