<h1>Order Fulfillment</h1>
<br/>
<br/>
ALL INCOMPLETE ORDERS
<br/>
<br/>
<%= render 'order_fulfillment_table', orders: @incomplete_orders, paginate_it: true, shipping_statuses: @shipping_statuses %>
<br/>
<br/>
LAST 10 COMPLETED ORDERS
<br/>
<br/>
<%= render 'order_fulfillment_table', orders: @completed_orders, paginate_it: false, shipping_statuses: @shipping_statuses %>