<p>
  <table class="cart_nav_buttons">
    <tr>
      <td>
        <%= link_to "Return to Shopping", :back %>
      </td>
      <td>
        |
      </td>
      <td>
        <%= link_to "Checkout", checkout_path %>
      </td>
      <td>
        <%= button_to "Empty Cart", empty_cart_path, :class => 'empty_cart_button', data: {disable_with: 'Emptying...'} %>
      </td>
    </tr>
  </table>
</p>