=image_tag('question_mark.gif', alt: "Help", onclick: "alert_box();", class: "question")
:javascript
  function alert_box() {
    $.msgBox({
      title:"#{title}",
      content:"#{content}",
      type:"#{type}"
    });
  }