<div class="btn-toolbar d-flex justify-content-center">
  <%= button_to raw("<i class='fab fa-facebook'></i>&nbsp; Login with Facebook"), '/auth/facebook', class: "btn btn-facebook mb-3" %>
  <%= button_to raw("<i class='fab fa-twitter'></i>&nbsp; Login with Twitter"), '/auth/twitter', class: "btn btn-twitter mb-3" %>
  <%= button_to raw("<i class='fab fa-etsy'></i>&nbsp; Login with Etsy"), '/auth/etsy', class: "btn btn-etsy mb-3" %>
</div>
