Hello
<%= @user.email %>
<br/>
<br/>
<br/>
We had to make a change to the instructions for
<%= "#{@model.product_code} #{@model.name}" %>. Even if you have already used up all your downloads, you will still be able to download an updated version of the instructions.
<br/>
<br/>
What's changed?
<br/>
<br/>
<div align="center" style="background-color: #ebebeb; padding: 5px;">
  <%= @message %>
</div>
<br/>
<br/>
Head over to
<%= link_to 'Your Account Page', "#{@host}/account" %>
to download the updated instructions.
<br/>
<br/>
<br/>
Thank you for your business.
<br/>
Brick City Depot
<br/>
<br/>
<br/>