=h1("Books from Brick City Depot")
%br
%br
%br
.book_cover
  =image_tag('lego_neighborhood_book_2.jpg')
.book_description
  Our second book is now available on <a href='https://nostarch.com/legoneighborhood2'>nostarch.com</a>,
  on <a href='https://www.amazon.com/gp/product/1593279302?pf_rd_p=c2945051-950f-485c-b4df-15aac5223b10&pf_rd_r=4CD8E26Z9Z8KZB759Z6E'>Amazon.com</a>,
  and on <a href='https://www.barnesandnoble.com/w/the-lego-neighborhood-book-2-brian-lyles/1128234509?ean=9781593279301#/'>Barnes & Noble</a>.
  Enter the fantastical world of model building. The LEGO Neighborhood Book 2 is a full-color guide to creating intricate, bustling LEGO neighborhoods, and cities. In this second volume, a follow up to the runaway best-selling first volume, readers learn even more ways to create classic architectural styles using only LEGO bricks. In addition to creating entire buildings, LEGO model-building experts Brian and Jason Lyles also show readers how to create interesting architectural features like cornices, false fronts, porches, and detailed interiors and furniture. With instructions for three buildings and many smaller builds, The LEGO Neighborhood Book 2 is sure to provide hours of building fun and inspiration for readers of all ages.
%br
%br
%br
.clear
%br
%br
%br
.book_files
  .centered_text
    %h2 Lego Neighborhood Book 2 companion files
  %br
  %p
    We've included some companion files on this page to assist you in building the main model in the book. There are
    2 parts lists available to you; a checklist style list that opens up in your browser and
    a XML file that you can use to upload the complete parts list to Bricklink's wanted list feature. If you're not
    familiar with how that works, or Bricklink, check out the #{link_to 'BCD Tutorial', new_user_tutorial_path} and
    the #{link_to 'BrickLink Tutorial', "http://www.bricklink.com/help.asp?topicID=35"} Enjoy!
  %br
  %strong Corner Townhouse Files
  %p
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_townhouse_bricklink.xml" download target="_blank">Corner Townhouse Bricklink XML</a>
    %br
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_townhouses.html" download target="_blank">Corner Townhouse Parts List</a>
%br
%br
%br
.book_cover
  =image_tag('lego_neighborhood_book.png')
.book_description
  Our first book is available on <a href='http://www.nostarch.com/legoneighborhood'>nostarch.com</a>,
  on <a href='http://www.amazon.com/The-LEGO-Neighborhood-Book-Build/dp/1593275714/ref=sr_1_1?ie=UTF8&qid=1396966249&sr=8-1&keywords=lego+neighborhood+book'>Amazon.com</a>,
  and on <a href='http://www.barnesandnoble.com/w/the-lego-neighborhood-book-brian-lyles/1118967430?ean=9781593275716'>Barnes & Noble</a>.
  The LEGO Neighborhood Book is your guide to creating incredible LEGO buildings. Snap together a few apartments, shops,
  houses, and soon you'll have a whole neighborhood! Inside these pages, you'll learn techniques for recreating classic
  architectural styles in LEGO bricks, like San Francisco's famous Victorians and New York City's brownstones. LEGO
  model-building experts Brian and Jason Lyles will teach you how to create interesting architectural features like cornices
  and false fronts, and how to construct porches and detailed interiors. With full color instructions for three multistory
  houses and many smaller builds (like a reclining armchair and an old-timey lamppost), The LEGO Neighborhood Book will
  give you hours of building fun. What will your neighborhood look like?
.clear
%br
%br
%br
.book_files
  .centered_text
    %h2 Lego Neighborhood Book companion files
  %br
  %p
    We've included some companion files on this page to assist you in building the models in the book. Each of the
    larger models has 2 parts lists available to you, a checklist style list that opens up in your browser and
    a XML file that you can use to upload the complete parts list to Bricklink's wanted list feature. If you're not
    familiar with how that works, or Bricklink, check out the #{link_to 'BCD Tutorial', new_user_tutorial_path} and
    the #{link_to 'BrickLink Tutorial', "http://www.bricklink.com/help.asp?topicID=35"} We've also included a PDF with
    instructions on how to build a delivery truck that fits into the Corner Drug Stores delivery bay. Parts lists for
    the truck are also included. Enjoy!
  %br
  %strong Canal Ring House Files
  %p
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/canal_ring_house_bricklink.xml" download target="_blank">Canal Ring House Bricklink XML</a>
    %br
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/canal_ring_house_parts_list.html" download target="_blank">Canal Ring House Parts List</a>
  %strong Colonial Row House Files
  %p
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/colonial_row_house_bricklink.xml" download target="_blank">Colonial Row House Bricklink XML</a>
    %br
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/colonial_row_house_parts_list.html" download target="_blank">Colonial Row House Parts List</a>
  %strong Parisian Row House Files
  %p
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/parisian_row_house_bricklink.xml" download target="_blank">Parisian Row House Bricklink XML</a>
    %br
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/parisian_row_house_parts_list.html" download target="_blank">Parisian Row House Parts List</a>
  %strong Residential Base Files
  %p
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/residential_building_bricklink.xml" download target="_blank">Residential Base Bricklink XML</a>
    %br
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/residential_building_parts_list.html" download target="_blank">Residential Base Parts List</a>
  %strong Corner Drug Store Files
  %p
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_drug_store_bricklink.xml" download target="_blank">Corner Drug Store Bricklink XML</a>
    %br
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_drug_store_parts_list.html" download target="_blank">Corner Drug Store Parts List</a>
  %strong Delivery Truck Files
  %p
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/delivery_truck_bricklink.xml" download target="_blank">Delivery Truck Bricklink XML</a>
    %br
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/delivery_truck_parts_list.html" download target="_blank">Delivery Truck Parts List</a>
    %br
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/delivery_truck.pdf" download target="_blank">Delivery Truck PDF</a>

.book_reviews
  .centered_text
    %h2 The reviews are in!
  %br
  %p
    Check out some of these reviews the book has been getting!
  %br
  %p
    %a{target: '_blank', href: "http://brickset.com/article/12076/the-lego-neighborhood-book"} http://brickset.com/article/12076/the-lego-neighborhood-book
    %br
    %a{target: '_blank', href: "http://bricknerd.com/home/review-the-lego-neighborhood-book-18-2014"} http://bricknerd.com/home/review-the-lego-neighborhood-book-18-2014
    %br
    %a{target: '_blank', href: "http://matthewhelmke.net/2014/09/the-lego-neighborhood-book/"} http://matthewhelmke.net/2014/09/the-lego-neighborhood-book/
    %br
    %a{target: '_blank', href: "http://www.thebrickfan.com/the-lego-neighborhood-book-review/"} http://www.thebrickfan.com/the-lego-neighborhood-book-review/
    %br
    %a{target: '_blank', href: "http://geekdad.com/2014/08/build-lego-neighborhood/"} http://geekdad.com/2014/08/build-lego-neighborhood/
    %br
    %a{target: '_blank', href: "http://www.hispabrickmagazine.com/en/content/review-lego-neighborhood-book"} http://www.hispabrickmagazine.com/en/content/review-lego-neighborhood-book
    %br
    %a{target: '_blank', href: "http://rebrickable.com/blog/2014/review-lego-neighborhood-book"} http://rebrickable.com/blog/2014/review-lego-neighborhood-book
    %br
    %a{target: '_blank', href: "http://www.alegoaday.com/lego-neighborhood-book-review/"} http://www.alegoaday.com/lego-neighborhood-book-review/
    %br
    %a{target: '_blank', href: "http://bggafterdark.biogamergirl.com/2014/09/the-lego-neighborhood-book-book-review.html"} http://bggafterdark.biogamergirl.com/2014/09/the-lego-neighborhood-book-book-review.html
    %br
    %a{target: '_blank', href: "http://brainpowerboy.com/the-lego-neighborhood-book/"} http://brainpowerboy.com/the-lego-neighborhood-book/
    %br
    %a{target: '_blank', href: "http://www.javajohnz.com/2014/09/the-lego-neighborhood-book-review.html"} http://www.javajohnz.com/2014/09/the-lego-neighborhood-book-review.html
.clear
%br
.book_video
  .centered_text
    %iframe{:frameborder => "0", :height => "390", :src => "https://www.youtube.com/embed/fY_E5YKmKm8?autoplay=0&origin=https://brickcitydepot.com", :type => "text/html", :width => "640"}
