<%= h1("Books from Brick City Depot") %>
<br/>
<br/>
<br/>
<div class="book_cover">
  <%= image_tag('lego_neighborhood_book.png') %>
</div>
<div class="book_description">
  Our first book is now available for preorder on
  <a href='http://www.nostarch.com/legoneighborhood'>nostarch.com</a>, on
  <a href='http://www.amazon.com/The-LEGO-Neighborhood-Book-Build/dp/1593275714/ref=sr_1_1?ie=UTF8&qid=1396966249&sr=8-1&keywords=lego+neighborhood+book'>Amazon.com</a>, and on
  <a href='http://www.barnesandnoble.com/w/the-lego-neighborhood-book-brian-lyles/1118967430?ean=9781593275716'>Barnes & Noble</a>. The LEGO Neighborhood Book is your guide to creating incredible LEGO buildings. Snap together a few apartments, shops,
  houses, and soon you'll have a whole neighborhood! Inside these pages, you'll learn techniques for recreating classic architectural styles in LEGO bricks, like San Francisco's famous Victorians and New York City's brownstones. LEGO model-building
  experts Brian and Jason Lyles will teach you how to create interesting architectural features like cornices and false fronts, and how to construct porches and detailed interiors. With full color instructions for three multistory houses and many
  smaller builds (like a reclining armchair and an old-timey lamppost), The LEGO Neighborhood Book will give you hours of building fun. What will your neighborhood look like?
</div>
<div class="clear"></div>
<br/>
<br/>
<br/>
<div class="book_files">
  <div class="centered_text">
    <h2>Lego Neighborhood Book companion files</h2>
  </div>
  <br/>
  <p>
    We've included some companion files on this page to assist you in building the models in the book. Each of the larger models has 2 parts lists available to you, a checklist style list that opens up in your browser and a XML file that you can use to
    upload the complete parts list to Bricklink's wanted list feature. If you're not familiar with how that works, or Bricklink, check out the #{link_to 'BCD Tutorial', new_user_tutorial_path} and the #{link_to 'BrickLink Tutorial',
    "http://www.bricklink.com/help.asp?topicID=35"} We've also included a PDF with instructions on how to build a delivery truck that fits into the Corner Drug Stores delivery bay. Parts lists for the truck are also included. Enjoy!
  </p>
  <br/>
  <strong>Canal Ring House Files</strong>
  <p>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/canal_ring_house_bricklink.xml" download="download" target="_blank">Canal Ring House Bricklink XML</a>
    <br/>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/canal_ring_house_parts_list.html" download="download" target="_blank">Canal Ring House Parts List</a>
  </p>
  <strong>Colonial Row House Files</strong>
  <p>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/colonial_row_house_bricklink.xml" download="download" target="_blank">Colonial Row House Bricklink XML</a>
    <br/>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/colonial_row_house_parts_list.html" download="download" target="_blank">Colonial Row House Parts List</a>
  </p>
  <strong>Parisian Row House Files</strong>
  <p>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/parisian_row_house_bricklink.xml" download="download" target="_blank">Parisian Row House Bricklink XML</a>
    <br/>
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/parisian_row_house_parts_list.html" download="download" target="_blank">Parisian Row House Parts List</a>
  </p>
  <strong>Residential Base Files</strong>
  <p>
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/residential_building_bricklink.xml" download="download" target="_blank">Residential Base Bricklink XML</a>
    <br/>
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/residential_building_parts_list.html" download="download" target="_blank">Residential Base Parts List</a>
  </p>
  <strong>Corner Drug Store Files</strong>
  <p>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_drug_store_bricklink.xml" download="download" target="_blank">Corner Drug Store Bricklink XML</a>
    <br/>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/corner_drug_store_parts_list.html" download="download" target="_blank">Corner Drug Store Parts List</a>
  </p>
  <strong>Delivery Truck Files</strong>
  <p>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/delivery_truck_bricklink.xml" download="download" target="_blank">Delivery Truck Bricklink XML</a>
    <br/>
    <a href="https://d1f3s1yrq7p474.cloudfront.net/book_files/delivery_truck_parts_list.html" download="download" target="_blank">Delivery Truck Parts List</a>
    <br/>
    <a href="https://s3.amazonaws.com/brickcitydepot-assets/book_files/delivery_truck.pdf" download="download" target="_blank">Delivery Truck PDF</a>
  </p>
</div>
<div class="book_reviews">
  <div class="centered_text">
    <h2>The reviews are in!</h2>
  </div>
  <br/>
  <p>
    Check out some of these reviews the book has been getting!
  </p>
  <br/>
  <p>
    <a href="http://brickset.com/article/12076/the-lego-neighborhood-book" target="_blank">http://brickset.com/article/12076/the-lego-neighborhood-book</a>
    <br/>
    <a href="http://bricknerd.com/home/review-the-lego-neighborhood-book-18-2014" target="_blank">http://bricknerd.com/home/review-the-lego-neighborhood-book-18-2014</a>
    <br/>
    <a href="http://matthewhelmke.net/2014/09/the-lego-neighborhood-book/" target="_blank">http://matthewhelmke.net/2014/09/the-lego-neighborhood-book/</a>
    <br/>
    <a href="http://www.thebrickfan.com/the-lego-neighborhood-book-review/" target="_blank">http://www.thebrickfan.com/the-lego-neighborhood-book-review/</a>
    <br/>
    <a href="http://geekdad.com/2014/08/build-lego-neighborhood/" target="_blank">http://geekdad.com/2014/08/build-lego-neighborhood/</a>
    <br/>
    <a href="http://www.hispabrickmagazine.com/en/content/review-lego-neighborhood-book" target="_blank">http://www.hispabrickmagazine.com/en/content/review-lego-neighborhood-book</a>
    <br/>
    <a href="http://rebrickable.com/blog/2014/review-lego-neighborhood-book" target="_blank">http://rebrickable.com/blog/2014/review-lego-neighborhood-book</a>
    <br/>
    <a href="http://www.alegoaday.com/lego-neighborhood-book-review/" target="_blank">http://www.alegoaday.com/lego-neighborhood-book-review/</a>
    <br/>
    <a href="http://bggafterdark.biogamergirl.com/2014/09/the-lego-neighborhood-book-book-review.html" target="_blank">http://bggafterdark.biogamergirl.com/2014/09/the-lego-neighborhood-book-book-review.html</a>
    <br/>
    <a href="http://brainpowerboy.com/the-lego-neighborhood-book/" target="_blank">http://brainpowerboy.com/the-lego-neighborhood-book/</a>
    <br/>
    <a href="http://www.javajohnz.com/2014/09/the-lego-neighborhood-book-review.html" target="_blank">http://www.javajohnz.com/2014/09/the-lego-neighborhood-book-review.html</a>
  </p>
</div>
<div class="clear"></div>
<br/>
<div class="book_video">
  <div class="centered_text">
    <iframe frameborder="0" height="390" src="https://www.youtube.com/embed/fY_E5YKmKm8?autoplay=0&origin=https://brickcitydepot.com" type="text/html" width="640"></iframe>
  </div>
</div>