=h1("Books from Brick City Depot")
%br
%br
%br
.book_cover
  =image_tag('lego_neighborhood_book.png')
.book_description
  Our first book is now available for preorder on <a href='http://www.nostarch.com/legoneighborhood'>nostarch.com</a>,
  on <a href='http://www.amazon.com/The-LEGO-Neighborhood-Book-Build/dp/1593275714/ref=sr_1_1?ie=UTF8&qid=1396966249&sr=8-1&keywords=lego+neighborhood+book'>Amazon.com</a>,
  and on <a href='http://www.barnesandnoble.com/w/the-lego-neighborhood-book-brian-lyles/1118967430?ean=9781593275716'>Barnes & Noble</a>.
  The LEGO Neighborhood Book is your guide to creating incredible LEGO buildings. Snap together a few apartments, shops,
  houses, and soon you'll have a whole neighborhood! Inside these pages, you'll learn techniques for recreating classic
  architectural styles in LEGO bricks, like San Francisco's famous Victorians and New York City's brownstones. LEGO
  model-building experts Brian and Jason Lyles will teach you how to create interesting architectural features like cornices
  and false fronts, and how to construct porches and detailed interiors. With full color instructions for three multistory
  houses and many smaller builds (like a reclining armchair and an old-timey lamppost), The LEGO Neighborhood Book will
  give you hours of building fun. What will your neighborhood look like?

