<section class="content">
  <div class="container">
    <h1>Children's Online Privacy Protection Act Compliance</h1>
    <br/>
    <p>
      Personal data collected online from children under the age of 13 (or older age where required by law)
    </p>
    <br/>
    <p>
      When a child under legal age registers for an account on our website, we collect their email address. The email address is used for two purposes. First as a unique identifier so we will know who has purchased which instructions. Second, we
      periodically email users to let them know of new instructions, or to inform the owners of instructions if we have had to update the instructions or parts lists. At no point do we pass along this email address to anyone else.
    </p>
    <br/>
    <p>
      At the time of registration, we may also collect a password if your child has registered for an account and did not opt to use their Twitter, Facebook or Etsy accounts to register. This password is encrypted before being stored and we have no ability to
      retrieve or use a users password.
    </p>
    <br/>
    <p>
      As a parent or guardian of a child from whom we have collected an email address, you have the right to review your childs account and have it deleted, and refuse to permit Brick City Depot from allowing your child to register again with the same
      email address. To review your childs account with us, please contact us by clicking
      <%= link_to 'here', contact_path %>
      You will be asked to provide your childs email address they used to register for our site, and also you will be asked to provide your own email address for contact purposes.
    </p>
    <br/>
    <p>
      We only collect email addresses and only for the aforementioned purposes.
    </p>
  </div>
</section>
