<section class="content">
  <div class="container">
    <h2>Instruction and Parts List Sample</h2>
    <br/>
    <br/>
    <div id="sample_instruction">
      <%= image_tag 'instruction_sample.jpg', :width => '506' %>
    </div>
    <br/>
    <br/>
    <div id="green_highlighted_row_image">
      <%= image_tag 'highlighted_row.png', :width => '700px' %>
    </div>
  </div>
</section>