=h2("Instruction and Parts List Sample")

%br
%br
%div#sample_instruction
  = image_tag 'instruction_sample.jpg', :width => '506'
%br
%br
#green_highlighted_row_image
  = image_tag 'highlighted_row.png', :width => '700px'