<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-2">
        <%= image_tag('jason_12.png', class: 'img-fluid sigfig mr-3') %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <p class="h2">
          Oh no, something broke!
        </p>
        <p class="mt-5">
          Don't worry, we'll get it fixed.
        </p>
      </div>
    </div>
  </div>
</section>
