<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-2">
        <%= image_tag('bri_jj_5.png', class: 'img-fluid sigfig mr-3 pt-4') %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <p class="error-code">
          404'd!
        </p>
        <p>
          We can't find that one! Try a different link.
        </p>
      </div>
    </div>
  </div>
</section>
