<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 offset-md-2">
        <%= image_tag('422.png', class: 'img-fluid sigfig mr-3') %>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-6">
        <p class="h2">
          Unprocessable!
        </p>
        <p class="mt-5">
          I don't think that's gonna work.
          Try something else, perhaps?
        </p>
      </div>
    </div>
  </div>
</section>
