<div class='footnotes'>
  <strong>*</strong>
  Product code for instructions fits the pattern 'CB002'. A physical model would be 'CB002M' and a kit would be 'CB002K'
  <br/>
  <strong>**</strong>
  A model or kit must have a 'base' product (set of instructions) before you try to add a model or kit.
  <br/>
  <strong>***</strong>
  Products that aren't ready for the public will only be visible in the admin areas. If you want to un-retire a retired model, make sure to check the 'ready for public?' checkbox. Also, set the category and subcategory for the product to an appropriate
  cat/subcat
</div>