<section class="content">
  <div class="container">
    <h1>Ahh!!</h1>
    <br/>
    <br/>
    <p>
      Sorry, this action could not be completed at this time. Please try again later.
    </p>
  </div>
</section>