= h1("Unsubscribed")
%br
%br
%p
  You have successfully unsubscribed from our promotional/informative emails. You will, however, continue to get emails
  pertaining to future orders you may place.
%br
%p
  Thanks!
%p
  Brick City Depot