<section class="content">
  <div class="container">
    <h1>Unsubscribed</h1>
    <br/>
    <br/>
    <p>
      You have successfully unsubscribed from our promotional/informative emails. You will continue to get emails pertaining to any future orders you may place.
    </p>
    <br/>
    <p>
      Thanks!
    </p>
    <p>
      Brick City Depot
    </p>
  </div>
</section>