@mixin left-rounded-corners($radius){
  border-radius: $radius 0 0 $radius;
  -moz-border-radius: $radius 0 0 $radius;
  -webkit-border-radius: $radius 0 0 $radius;
}

.sidebar_div1 {
  margin-top:78px;
  padding: 10px 10px 10px 10px;
  @include left-rounded-corners(15px);
  background-color: #F7E6A5;
  text-decoration:none;
}

.sidebar_div3 {
  margin-top:10px;
  padding: 10px 10px 10px 10px;
  @include left-rounded-corners(15px);
  background-color: #F7E6A5;
  text-decoration: none;
}
