<p>
  Hello
  <%= @resource.email %>!
</p>
<br/>
<p>
  A password change request has been initiated for the account linked to
  <%= @resource.email %>. You can complete this request by clicking the link below.
</p>
<p>
  <%= link_to 'Change password', edit_password_url(@resource, :reset_password_token => @token) %>
</p>
<p>
  If you didn't request this, please ignore this email.
</p>
<p>
  Click the link above to create a new password and complete the request.
</p>
<br/>
<br/>
Thanks!
<br/>
Brick City Depot