%p
  Hello #{@resource.email}!
%br
%p
  A password change request has been initiated for the account linked to #{@resource.email}. You can complete this request by clicking the link below.
%p= link_to 'Change password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  If you didn't request this, please ignore this email.
%p
  Click the link above to create a new password and complete the request.
%br
%br
Thanks!
%br
Brick City Depot

