- if @derivative_product
  %h1 New derivative product
  %br
  %br
  %p.sad
    * Make sure to change the Name, Product Type and Product Code accordingly
- else
  %h1 New product

= render 'form', product: @product, product_types: @product_types, categories: @categories

= link_to 'Back', products_path
