<% if similar_products.length > 0 %>
  <h3>
    Love
    <%= product.name %>?
  </h3>
  <p>
    Check out these other great models from Brick City Depot
  </p>
  <div class="row">
    <% similar_products.each do |product| %>
      <div class="col-sm-6 col-md-3 d-flex">
        <%= render 'product_teaser', product: product %>
      </div>
    <% end %>
  </div>
<% end %>