=h1("Welcome to the Store!")
%br
%br
.product_categories
  - @product_types.each do |pt|
    %div.float_left.product_category
      %h2=pt.name
      %br
      = link_to image_tag(pt.image), {:controller => :store, :action => :products, :product_type_name => pt.name}, :class => 'product_category_image'

