= h1("Thanks for your Order!")
%br
%br
%p
  A confirmation email for this order will be sent to the email address you registered with us. You may log into your
  account at www.paypal.com to view details of this transaction. Check out your Brick City Depot account by clicking the
  "My Account" link above. You'll be taken to a page where you can download the files you paid for.
%br
%p
  If you have any questions about what's next, where to acquire parts to build the model, etc., click on the FAQ link
  above where we'll answer a lot of your questions. If that page isn't helping you with your specific question, contact
  us via the "Contact" link above and we'll help you with any concerns.
%br
%p
  If for any reason you don't get a confirmation email, or you don't see instructions you paid for when you click the
  "My Account" link, let us know and we'll get everything straightened out.
%br
%p
  If you are new to Brick City Depot, check out the #{link_to 'Brick City Depot New User Tutorial', new_user_tutorial_path},
  where we'll tell you everything you need to know. If you are new to Bricklink, check out their
  = link_to "New User Tutorial", "http://www.bricklink.com/help.asp?topicID=35"
  to get a handle on how to use Bricklink.
%br
%p
  If you purchased a physical model or kit from us and you're an international buyer (non-US), we will be contacting you
  shortly to arrange additional shipping as our prices for models and kits only include domestic shipping.
%br
%br
%br
%p
  Thanks!
  %br
  The Brick City Depot team