%h1 Editing Advertising Campaign

= render 'form', advertising_campaign: @advertising_campaign, partners: @partners

= link_to 'Show', @advertising_campaign
\|
= link_to 'Back', advertising_campaigns_path
